
.app{
  
    background-color: #f5f5f5; /* Light off-white shade */
    margin: 0;
    padding: 0;
    color: #212121;
  }
  
  #root {
    text-align: center;
    background-color: #f5f5f5; /* Same off-white shade */
  };


